.box {
    background-image: url("/assets/search.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 5px;
    border-radius: 45px;
    border-style: solid;
    display: block;
    height: 500px;
    padding-left: 40px;
    margin: 0 auto;
    width: 1000px;
}

.button {
    background-color: white;
    border: none;
}

.button:hover {
    border-color: lightgrey;
    border-radius: 5px;
    border-style: solid;
}