:root {
    font-family: arial, sans-serif;
    font-size: 14px;
}

.box {
    background-image: url("/assets/search.svg");
    background-position: 10px 13px;
    background-repeat: no-repeat;
    background-size: 15px;
    border-radius: 45px;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 40px;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 40px;
    width: 550px;
}

.box:focus {
    outline:none;
}

.box:hover {
    box-shadow: 0 4px 1px darkgray;
    height: 42px;
    margin-top: 48px;
    width: 552px;
}

.button {
    background-color: white;
    border-color: white;
    border-style: solid;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 7px;
    text-align: center;
}

.button:hover {
    border-color: lightgrey;
    border-radius: 5px;
    border-style: solid;
}

.adiv1 {
    float: left;
    width: 190px;
    margin-top: 25px;
}

.adiv2 {
    float: left;
    width: 1100px;
    margin-top: 25px;
}

.adiv3 {
    float: left;
    margin-top: 25px;
}

.adiv4 {
    float: left;
    width: 50px;
    text-align: center;
    margin-top: 25px;
}

.wdiv {
    float: left;
    width: 1100px;
}

.abox {
    width: 900px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}

.abox2 {
    width: 421px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}

.button2 {
    float: left;
    margin-left: 583px;
    background-color: #4d90fe;
    box-shadow: none;
    border: 1px solid #3079ed;
    color: white;
    padding: 6px 12px;
    margin-top: 25px;
}

.button2:hover {
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
}

.link {
    background-color: #4d90fe;
    box-shadow: none;
    border: 1px solid #3079ed;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
}

.link:hover {
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: right;
    text-align: center;
}
