<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Advanced</title>
    </head>
    <body>
        <form action="https://www.google.com/search">
            <div class="adiv">
                all these words:
               <input class="abox" type="text" name="as_q"> 
            </div>
            <div class="adiv">
                this exact word or phrase:
                <input class="abox" type="text" name="as_epq">
            </div>
            <div class="adiv">
                any of these words:
                <input class="abox" type="text" name="as_oq">
            </div>
            <div class="adiv">
                none of these words:
                <input class="abox" type="text" name="as_eq">
            </div>
            <div class="adiv">
                numbers ranging from:
                <input class="abox" type="text" name="as_nlo"> to 
                <input class="abox" type="text" name="as_nhi">
            </div>
            <input class="button2" type="submit" value="Advanced Search">
        </form>
    </body>
</html>