<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Advanced</title>
    </head>
    <body>
    <nav class="navbar">
            <div>
                <ul>
                    <li><a class="link" href="/templates/index.html">Homepage</a></li>  
                </ul>
            </div>
        </nav>
        <form action="https://www.google.com/search">
            <div class="adiv1">
                <label for="box1">all these words:</label>
            </div>
            <div class="adiv2">
               <input id="box1" class="abox" type="text" name="as_q"> 
            </div>
            <div class="adiv1">
                <label for="box2">this exact word or phrase:</label>
            </div>
            <div class="adiv2">
                <input id="box2" class="abox" type="text" name="as_epq">
            </div>
            <div class="adiv1">
                <label for="box3">any of these words:</label>
            </div>
            <div class="adiv2">
                <input id="box3" class="abox" type="text" name="as_oq">
            </div>
            <div class="adiv1">
                <label for="box4">none of these words:</label>
            </div>
            <div class="adiv2">
                <input id="box4" class="abox" type="text" name="as_eq">
            </div>
            <div class="adiv1">
                <label for="box5">numbers ranging from:</label>
            </div>
            <div class="wdiv">
                <div class="adiv3">
                    <input id="box5" class="abox2" type="text" name="as_nlo">
                </div>
                <div class="adiv4">
                    to
                </div>
                <div class="adiv3">
                    <input id="box6" class="abox2" type="text" name="as_nhi">
                </div>
            </div>
            <input class="button2" type="submit" value="Advanced Search">
        </form>
    </body>
</html>
