<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Advanced</title>
    </head>
    <body>
        <form action="https://www.google.com/search">
            <div>
                all these words:
               <input class="box" type="text" name="as_q"> 
            </div>
            <div>
                this exact word or phrase:
                <input class="box" type="text" name="as_epq">
            </div>
            <div>
                any of these words:
                <input class="box" type="text" name="as_oq">
            </div>
            <div>
                none of these words:
                <input class="box" type="text" name="as_eq">
            </div>
            <div>
                numbers ranging from:
                <input class="box" type="text" name="as_nlo"> to 
                <input class="box" type="text" name="as_nhi">
            </div>
            <input class="button" type="submit" value="Advanced Search">
        </form>
    </body>
</html>