<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Images</title>
    </head>
    <body>
        <nav class="navbar">
            <div>
                <ul>
                    <li><a class="link" href="/templates/index.html">Homepage</a></li>  
                </ul>
            </div>
        </nav>
        <form action="https://www.google.com/search">
            <input class="box" type="text" name="q">
            <input hidden type="text" name="tbm" value="isch">
            <input class="button" type="submit" value="Image Search">
        </form>
    </body>
</html>
