<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Images</title>
    </head>
    <body>
        <div class="ldiv">
            <form action="/templates/index.html">
                <input class="link" type="submit"  value="Homepage">
            </form>
        </div>
        <form action="https://www.google.com/search">
            <input class="box" type="text" name="q">
            <input hidden type="text" name="tbm" value="isch">
            <input class="button" type="submit" value="Image Search">
        </form>
    </body>
</html>
