<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Search</title>
    </head>
    <body>
        <nav>
            <link class="link" href="/templates/images.html">Image Search</link>  
            <link class="link" href="/templates/advanced.html">Advanced Search</link>
        </nav>
        <form action="https://www.google.com/search">
            <input class="box" type="text" name="q">
            <input class="button" type="submit" value="Google Search">
        </form>
    </body>
</html>
